#MonstroFormDescription {
    width: 100%;
  }
form input {
  background-color: #5f3467;
  color: white;
  border-width: thin;
  border-left-color: #c3c3c3;
  border-top-color: #c3c3c3;
}
textarea {
  background-color: #5f3467;
}
label :read-only {
  background-color: #301a34
}